<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>BankLogs</title>
</head>
<body>
<div style="background-color: lightblue">
<center><span><h1>Witamy w systemie Logowania banku</h1></span></center>
<center><span th:text="${info}"></span></center>
<center><h1><span th:text="${infoLoginError}" th:style="'color: red'"></span></h1></center>
</br>

    <center>
<form th:action="@{/}" method="post" th:object="${bankForm}" style="font-size: 20px" >
    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
    Login: <input type="text" th:field="*{login}">
    <p></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    Password: <input type="password" th:field="*{password}">
    <p></p>
    <input type="submit" value="send">
</form>
    </br>
    </center>
</div>


</body>
</html>